:root {
  --text-color: #707070;
  --text-description: #4e4e4e;
  --heading-text-color: #1f1f1f;
  --pink-color: #ff136f;
  --light-pink-color: #feeae9;
}

* {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

/* shared style */

.primary-btn {
  outline: none;
  border: none;
  padding: 14px 20px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.icon-margin {
  margin-left: 8px;
  margin-right: 8px;
}

/* ------- header ------ */

/* nav bar */

.brand-logo {
  width: 120px;
  cursor: pointer;
}

.nav-bar {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 30px;
  align-items: center;
  justify-content: space-around;
}

.search-bar {
  background-color: #f1f1f1;
  width: 25%;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  padding-right: 20px;
}

.search-bar input {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 14px 20px;
  width: 100%;
}

.navbar-menu {
  gap: 30px;
}

.navbar-menu li {
  list-style-type: none;
}

.navbar-menu a {
  text-decoration: none;
  color: var(--text-color);
}

/* banner */

.banner {
  background-color: var(--light-pink-color);
  width: 80%;
  max-width: 1212px;
  margin: 40px auto;
  align-items: center;
  justify-content: space-around;
  border-radius: 25px;
}

.banner-content {
  padding-left: 48px;
}

.banner-product-title {
  font-size: 3rem;
  color: var(--heading-text-color);
  margin-bottom: 15px;
}

.banner-product-description {
  color: var(--text-color);
  font-weight: 500 !important;
  width: 70%;
  font-size: 0.9rem;
  margin-bottom: 25px;
}

.banner-product-price {
  color: var(--pink-color);
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.banner-img {
  max-width: 402px;
  padding: 40px 60px;
}

.buy-now-btn, .send-btn {
  background: linear-gradient(#ff589b, var(--pink-color));
}

/* ------- main ------- */

/* categories section */

.categories-section {
  max-width: 1128px;
  width: 80%;
  margin: 50px auto;
  justify-content: center;
  align-items: center;
  gap: 26px;
}

.category-box {
  justify-content: space-around;
  align-items: center;
  color: white;
  height: 120px;
  border-radius: 15px;
  cursor: pointer;
}

.category-name {
  font-size: 2rem;
}

.img-box {
  height: 100%;
  align-items: center;
}

.category-img {
  height: 85%;
}

#box-1 {
  background: linear-gradient(#ff9c35, #ffd019);
  flex: 1;
}
#box-2 {
  background: linear-gradient(#ff589b, #ff136f);
  flex: 1;
}
#box-3 {
  background: linear-gradient(#4289ff, #3f07f8);
  flex: 1;
}

/* product section */

.product-section {
  background-color: #f4f4f4;
  padding: 10px 0;
}

.product-showcase {
  max-width: 1128px;
  width: 80%;
  margin: 40px auto;
}

.product-detail {
  justify-content: space-between;
  justify-items: center;
}

.product-name {
  font-size: 1.5rem;
}

.see-btn {
  text-decoration: none;
  color: #ff9d00;
  font-weight: 600;
}

.product-container {
  gap: 24px;
  margin-top: 20px;
  justify-content: center;
}

.product-card {
  width: 360px;
  background-color: white;
  padding: 24px;
  border-radius: 20px;
  text-align: center;
}

.card-product-img {
  width: 100%;
  padding: 0 5px 30px 5px;
}

.card-product-name {
  color: var(--heading-text-color);
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.card-product-description {
  color: var(--text-description);
  margin-bottom: 20px;
  font-size: 0.9rem;
}

.card-product-price {
  font-size: 1.3rem;
  margin-bottom: 15px;
}

.card-buy-now-btn {
  background-color: black;
  font-weight: 500;
}


/* footer section */

.in-touch-section {
    background-color: #FFF2F1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 145px 0;
    width: 85%;
    max-width: 1212px;
    margin: 75px auto;
    border-radius: 20px;
}


.touch-title {
    color: var(--heading-text-color);
    font-size: 2rem;
    margin-bottom: 8px;
}

.touch-sub-heading {
    color: var(--text-description);
    margin-bottom: 25px;
}

.email-section {
    width: 50%;
    max-width: 685px;
    display: flex;
}

.user-email {
    flex: 1;
    outline: none;
    border: none;
    padding: 15px 30px;
    border-radius: 6px 0 0 6px;
    font-size: 1.3rem;
}

.user-email::placeholder {
    color: #CCCCCC;
    font-weight: 500;
}

.send-btn {
    align-self: flex-end;
    border-radius: 0 6px 6px 0;
    padding: 15px 30px;
    font-size: 1.3rem;
}

/* Responsive Media Query */
/* mobile device */

@media screen and (max-width: 576px) {
    .product-card {
        width: calc(100% - 54px);
        gap: 30px;
    }
}

/* mobile and tablet device */

@media screen and (max-width: 992px) {
  .nav-bar,
  .navbar-menu,
  .banner,
  .categories-section,
  .product-container {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .navbar-menu {
    text-align: center;
  }

  .search-bar {
    width: 80%;
  }

  .banner {
    width: 80%;
    text-align: center;
  }

  .banner-img-container {
    width: 80%;
    margin: 0 auto;
  }

  .banner-img {
    width: 80%;
    padding: 0;
    margin: 20px auto;
  }

  .banner-content {
    padding-left: 0;
    margin: 40px auto 10px auto;
    width: 80%;
  }

  .banner-product-description {
    width: 80%;
    margin: 0 auto;
  }

  .category-box {
    width: 100%;
  }

  .email-section {
    max-width: 80%;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  .user-email {
    outline: none;
    border: none;
    padding: 15px 15px;
    border-radius: 6px;
    width: 100%;
    font-size: 1rem;
}

  .send-btn {
    align-self: center;
    border-radius: 6px;
    font-size: 1rem;
  }
}

/* tablet device */

@media screen and (min-width: 576px) and (max-width: 992px) {
    .product-card {
        display: flex;
        text-align: left;
        max-width: none;
        gap: 30px;
        width: calc(100% - 34px);
    }

    .product-card img {
        max-width: 240px;
    }
}
