:root {
    --text-color: #707070;
    --heading-text-color: #1F1F1F;
    --pink-color: #FF136F;
    --light-pink-color: #FEEAE9;
}

* {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

/* shared style */

.primary-btn {
    outline: none;
    border: none;
    padding: 14px 20px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

.icon-margin {
    margin-left: 8px;
    margin-right: 8px;
}

/* ------- header ------ */

/* nav bar */

.brand-logo {
    width: 120px;
    cursor: pointer;
}

.nav-bar {
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 30px;
    align-items: center;
    justify-content: space-around;
}

.search-bar {
    background-color: #F1F1F1;
    width: 25%;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    padding-right: 20px;
}

.search-bar input {
    outline: none;
    border: none;
    background-color: transparent;
    padding: 14px 20px;
    width: 100%;
}

.navbar-menu {
    gap: 30px;
}

.navbar-menu li {
    list-style-type: none;
}

.navbar-menu a {
    text-decoration: none;
    color: var(--text-color);
}

/* banner */

.banner {
    background-color: var(--light-pink-color);
    width: 80%;
    max-width: 1212px;
    margin: 40px auto;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
}

.banner-content {
    padding-left: 48px;
}

.banner-product-title {
    font-size: 3rem;
    color: var(--heading-text-color);
    margin-bottom: 15px;
}

.banner-product-description {
    color: var(--text-color);
    font-weight: 500 !important;
    width: 70%;
    font-size: 0.9rem;
    margin-bottom: 25px;
}

.banner-product-price {
    color: var(--pink-color);
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.banner-img {
    max-width: 402px;
    padding: 40px 60px;
}

.buy-now-btn {
    background: linear-gradient(#FF589B, var(--pink-color));
}

/* ------- main ------- */

/* categories section */

.categories-section {
    max-width: 1128px;
    width: 80%;
    margin: 50px auto;
    justify-content: center;
    align-items: center;
    gap: 26px;
}

.category-box {
    justify-content: space-around;
    align-items: center;
    color: white;
    height: 120px;
    border-radius: 15px;
}

.category-name {
    font-size: 2rem;
}

.img-box {
    height: 100%;
    align-items: center;
}

.category-img {
    height: 85%;
}

#box-1 {
    background: linear-gradient(#FF9C35, #FFD019);
    flex: 1;
}
#box-2 {
    background: linear-gradient(#FF589B,#FF136F);
    flex: 1;

}
#box-3 {
    background: linear-gradient(#4289FF, #3F07F8);
    flex: 1;
}

/* product section */

.product-section {
    background-color: #F4F4F4;
}

.product-showcase {
    max-width: 1128px;
    width: 80%;
    margin: 40px auto;
}

.product-detail {
    justify-content: space-between;
    justify-items: center;
    padding: 30px 0;
}
/* Responsive Media Query */
/* mobile device */

@media screen and (max-width: 576px) {
    
}

/* mobile and tablet device */

@media screen and (max-width: 992px) {

    .nav-bar,
    .navbar-menu,
    .banner,
    .categories-section {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .navbar-menu {
        text-align: center;
    }

    .search-bar {
        width: 80%;
    }

    .banner {
        width: 80%;
        text-align: center;
    }

    .banner-img-container {
        width: 80%;
        margin: 0 auto;
    }

    .banner-img {
        width: 80%;
        padding: 0;
        margin: 20px auto;
    }

    .banner-content {
        padding-left: 0;
        margin: 40px auto 10px auto;
        width: 80%;
    }

    .banner-product-description {
        width: 80%;
        margin: 0 auto;
    }

    .category-box {
        width: 100%;
    }
}

/* tablet device */

@media screen and (min-width: 576px) and (max-width:992px) {

}